@tailwind base;
@tailwind components;
@tailwind utilities;


.slick-slide>div{

    margin: 0 30px;
}
.slick-slide>div:nth-child(1){

    margin-left: 0px;
}

.top-brands{

    background-image: url('./assets/back.png') ;
    object-fit: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.with-image::before {
    content: "";
    position: absolute;
    top: 3%;
    right: 2px;
    width: 51%; /* Adjust the width of the pseudo-image */
    height: 74%; /* Adjust the height of the pseudo-image */
    background: url('./assets/Mask1.png') no-repeat right top; /* Replace './path/to/your/image.jpg' with the actual path to your image file */
    background-size: cover;
    z-index: 9;
  }

  .inner-brand{
      align-items: center;
  }
  .inner-brand img {

    margin-top: 0px;
    margin-right:-70px;
    z-index: 999;
  }
  .inner-brand button{

    margin-left: 2px;
  }

  .slick-dots li button:before{

    font-size :17px !important;
    color: brown !important;
  }